html {
  height: 100%;
  text-transform: lowercase;
}

h1 {
  font-family: helvetica, sans-serif;
}

mark {
  background-color: yellow;
}

p {
  font-family: helvetica, sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

main {
  text-align: center;
}

#datetime {
  background-color: white;
  text-align: left;
  width: fit-content;
  margin: auto;
  border: 1px solid grey;
}

#datetime p {
  margin: 0;
  padding: 10px;
  line-height: 0.5;
}